.work {
  display: grid;
  place-items: center;
  margin-top: 30px;
}
.project {
  padding: 0 100px 50PX;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.project-list {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
/* Dark mode */
.DarkApp .work{
  background-color: #191919;
}
.DarkApp .work h2{
  color: #fff;
}





@media only screen and (max-width: 560px) {
  .project {
    padding: 10px 20px;
  }

  .project-list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 440px) {
}

@media only screen and (max-width: 380px) {
}
