* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  color: #272829;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
:root {
  --blue: #0783f8;
  --white: #ffffff;
  --black: #272829;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
